/* this the main css for the Ride My Way App

** @Author Leonard Gesuka

*** For Andela Task 1 Challenge

** Date Sunday 17 June, 2018


***/

body {
color:#4C3434;
background-image: url('car-back.png');
background-position:center;
background-repeat:no-repeat;
 }

 
 h1 {
 color:#1660B5;
 font-family:monospace;
 background-color:#6E7C8C;
 opacity:0.8;
 width:350px;
 text-align:center;
 alignment-adjust:central;
 
  }
  
 li {
  display:inline-block;
  background-color: #EEE;
  border: 2px solid;
  border-color: #F3F3F3 #BBB #BBB #F3F3F3;
  margin: 2px;
  padding: .5em;
}

ul {
background-color:#329539;
border: 1px solid;
border-color: #F3F3F3 #BBB #BBB #F3F3F3;
margin: 2px;
padding: .5em;
width:340px;
height:50px;
text-align:center;
opacity:0.8;
 }
 
 div { display: flexbox;
display: -ms-flex;
display: -moz-flex;
display: -o-flex;
display: -webkit-flex;
outline: 2px solid silver;
width:350px;
}
p { flex: 1 auto; margin: 2em;
font-family: sans-serif;
color: white;
background: #CE7DC6;
font-weight: bold;
text-align: center;
width:300px;
opacity:0.9;
}